@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{ var nhanvien = Session["NHANVIEN"] as TapHoa.Models.NHANVIEN;
    var admin = Session["ADMIN"] as TapHoa.Models.ADMIN;}

@if (nhanvien != null || admin != null)
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <tbody>
                                @if (admin == null && nhanvien.notifications != null)
                                {
                                    foreach (var item in nhanvien.notifications)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(listItem => item)</td>
                                        </tr>
                                    }
                                }

                                @*<tr>
                                        <td>@Html.DisplayFor(listItem => nhanvien.HOTEN)</td>
                                    </tr>*@
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

}
